
.buttonMore {
    text-decoration: unset;
    user-select: none;
    letter-spacing: 4px;

    // 有背景色
    &.style01, &.style02 {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 5% auto 0;
        // padding: 5px calc(3.4vw + 12px) 5px 3.4vw;
        height: 52px;
        width: 178px;
        font-size: 14px;
        color: #FFFFFF;
        background: #111111;
        overflow: hidden;
        cursor: pointer;

        >span {
            z-index: 1;
        }

        >img {
            position: relative;
            left: 12px;
            height: 12px;
            transition: all 200ms;
        }

        &:before {
            content: '';
            position: absolute;
            top: -15vw;
            left: -35vw;
            width: 30vw;
            height: 30vw;
            background: #333333;
            transform: rotate(30deg);
            transition: all 250ms;
        }

        &:hover {
            >img {
                left: 17px;
            }

            &:before {
                left: 0;
            }
        }
    }

    &.style02 {
        background: #D90000;

        &:before {
            background: #DE3939;
        }
    }

    // 无背景色
    &.style03 {
        display: flex;
        align-items: center;
        margin-top: 3%;
        color: #D90000;
        font-size: 14px;
        cursor: pointer;

        >img {
            position: relative;
            left: 5px;
            width: 12px;
            transition: all 250ms ease-in-out;
            width: 20px;
            height: auto;
        }

        &:hover>img {
            left: 17px;
        }
    }
}